# NetBean / Eclipse
bin
*.java._trace
*.java_trace
*.smap
.project
.classpath
.settings
.metadata

# Intellij
.idea/*
**.iml

# Subversion and CVS
.svn
.cvs

# Maven
target

# Checkstyle
.checkstyle

# Compiled files
*.class
*.o
*.obj
*.a
*.lib
*.exe

# Temp files
*.bak
*~
*.swp

# Others
.DS_Store

# Ant build
build/*

# Maven build
target/*

